@font-face {
    font-family: "Reddit Sans";
    src: url("../fonts/Reddit-Sans/RedditSans-Regular.woff2") format("woff2"),
         url("../fonts/Reddit-Sans/RedditSans-Regular.ttf") format("truetype");
    font-weight: 400;	
}

@font-face {
    font-family: "Reddit Sans";
    src: url("../fonts/Reddit-Sans/RedditSans-Light.woff2") format("woff2"),
         url("../fonts/Reddit-Sans/RedditSans-Light.ttf") format("truetype");
    font-weight: 300;	
}

@font-face {
    font-family: "Reddit Sans";
    src: url("../fonts/Reddit-Sans/RedditSans-Bold.woff2") format("woff2"),
         url("../fonts/Reddit-Sans/RedditSans-Bold.ttf") format("truetype");
    font-weight: 700;	
}

@font-face {
    font-family: "Reddit Sans";
    src: url("../fonts/Reddit-Sans/RedditSans-ExtraBold.woff2") format("woff2"),
         url("../fonts/Reddit-Sans/RedditSans-ExtraBold.ttf") format("truetype");
    font-weight: 800;	
}

html {
    font-family: "Reddit Sans", Tahoma, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-style: normal;
    /* background: #15264A; */
    background: radial-gradient(circle 1090px at center, hsla(221, 56%, 19%, 1), hsla(358, 76%, 7%, 1));
    background-size: cover;
    font-size: 24px;
    color: hsla(0, 0%, 100%, 1);
    /* Pin this to bottom */
    background-attachment: fixed;
}

body {
  margin: 0px;
  padding: 25px 8px 8px 8px;
}

/* ----Noise Grain Effect Section---- */
#noise {
    position: fixed;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    
    pointer-events: none;
    opacity: 0.3;
    z-index: 1;
    /* filter: brightness(100); */
}

#softnoise {
    position: fixed;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    
    pointer-events: none;
    opacity: 0.07;

    z-index: 100;
    /* filter: brightness(100); */
}

/* ----Header Section (Navbar & Website Title)---- */
header {
    /* REMEMBER: There is an 8 pixel margin around the body */
    height: auto;
    margin: 0 0 25px 0;
    /* position: static; */
    position: sticky;
    top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10;
}

#navbar {
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 37px;
    height: 1.51666667rem; /* .nav font-size + vertical padding + vertical border */
    background-color: hsla(201, 100%, 8%, 0.45);
    border: 2px solid hsla(248, 9%, 45%, 0.2);
    border-radius: 40px;
    box-shadow: 0px 0px 100px 1px hsla(198, 100%, 48.8%, 0.25);
    backdrop-filter: blur(15px) brightness(0.7);
    z-index: inherit;
    contain: layout paint style;
}

#navbar a {
    text-decoration: none;
    color: hsla(0, 0%, 100%, 1);
}

#webTitle svg{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    transition: all 130ms ease-out 5ms;
    height: 44px;
    width: auto;
    position: relative;
    top: 3px;
}

#webTitle svg:hover {
    scale: 1.10;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem; /* 18px */
    gap: 16px;
}

#navbar .nav {
    border: 2px solid hsla(0, 0%, 100%, 0);
    color: hsla(0, 0%, 80%, 1);
    justify-content: center;
    align-items: center;
    padding: 0.3rem 0.95rem; /* 7.2px */
    transition: all 100ms ease-out 5ms;
    border-radius: 25px;
    transform: translateZ(0);
}

#navbar .nav:hover {
    background-color: hsla(228, 48%, 60%, 1);
    color: hsla(0, 0%, 100%, 1);
}

#navbar .nav:active {
    color: hsla(242, 61%, 80%, 1);
    backdrop-filter: blur(50px) brightness(2);
    scale: 0.9;
}

#navbar .nav.visited {
    color: hsla(242, 61%, 80%, 1);
    backdrop-filter: blur(50px) brightness(2);
    border: 2px solid hsla(0, 0%, 100%, 1);
}

.separator {
    /* position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; */
    height: 1px;
    width: 100%;
    background-color: hsla(248, 9%, 45%, 1);
    border-radius: 15px;
}

/* ----Main Content Section---- */
#content {
  margin: 42px;
  z-index: 5;
}

/* Footer Section */
footer {
    margin: 94px -8px -8px -8px;
    padding: 0 8px 8px 8px;
    /* background-color: hsla(249, 65%, 45%, 0.1); */
    background: linear-gradient(transparent, 30%, hsla(249, 65%, 45%, 0.15) 80%);
}

footer a {
  text-decoration: none;
  color: hsla(0, 0%, 100%, 1);
}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 20px 8px 20px;
}

#footer-top {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 25px;
    width: 100%;
    gap: 15px;
}

#footer-top a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: normal;
  font-size: 1rem;
  color: hsla(0, 0%, 80%, 1);
  box-sizing: border-box;
  border: 2px solid hsla(248, 9%, 45%, 0.2);
  background-color: hsla(228, 48%, 60%, 0.1);
  border-radius: 25px;
  box-shadow: 0px 40px 100px 5px hsla(0, 0%, 0%, 0.25);
  padding: 30px;
  width: 100%;
  height: 30px;
  transition: all 300ms ease 5ms;
}

#footer-top a:hover {
  scale: 1.02;
  color: hsla(0, 0%, 100%, 1);
  backdrop-filter: blur(0.50px) brightness(1.5);
  box-shadow: 0px 60px 100px 5px hsla(0, 0%, 0%, 0.25);
}

#footer-top a:active {
  scale: 0.95;
  color: hsla(242, 61%, 80%, 1);
  backdrop-filter: blur(0.50px) brightness(1.5);
  box-shadow: 0px 60px 100px 5px hsla(0, 0%, 0%, 0.25);
}

#footer-middle {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    text-align: left;
    box-sizing: border-box;
    border: 2px solid hsla(248, 9%, 45%, 0.2);
    background-color: hsla(228, 48%, 60%, 0.1);
    border-radius: 25px;
    box-shadow: 0px 40px 100px 5px hsla(0, 0%, 0%, 0.25);
    margin: 0px 30px 15px 30px;
    padding: 40px;
}

#explore-header {
  text-decoration: underline;
}

#explore-list {
  display: flex;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

#explore-list ul {
  padding: 0 40px 0 0;
  list-style-type: none;
}

#explore-list li {
  margin-bottom: 10px;
}

#explore-list li::before {
  content: "›";
  color: white;
  margin-right: 0.4em;
}

#explore-list li a {
  text-decoration: none;
  color: hsla(0, 0%, 80%, 1);
}

#explorer-elts {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#explore-tcr {
  display: flex;
  height: fit-content;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  background-color: hsla(228, 48%, 60%, 1);
  padding: 30px 50px;
  border-radius: 45px;
  box-shadow: 0px 40px 100px 5px hsla(0, 0%, 0%, 0.25);
  transition: all 300ms ease 5ms;
}

#footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  padding: 0 15px;
}

#footer-title {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  width: 170px;
  height: auto;
}

#set-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

#copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.65rem; /* 18px */
  color: hsla(0, 0%, 80%, 1);
}

#socials {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: right;
  padding: 0;
  margin: 0;
  gap: 25px;
}

#socials li {
  list-style-type: none;
  display: flex;
}

#socials img {
  width: 20px;
}