@font-face {
    font-family: "Reddit Sans";
    src: url("../fonts/Reddit-Sans/RedditSans-Regular.woff2") format("woff2"),
         url("../fonts/Reddit-Sans/RedditSans-Regular.ttf") format("truetype");
    font-weight: 400;	
}

@font-face {
    font-family: "Reddit Sans";
    src: url("../fonts/Reddit-Sans/RedditSans-Light.woff2") format("woff2"),
         url("../fonts/Reddit-Sans/RedditSans-Light.ttf") format("truetype");
    font-weight: 300;	
}

@font-face {
    font-family: "Reddit Sans";
    src: url("../fonts/Reddit-Sans/RedditSans-Bold.woff2") format("woff2"),
         url("../fonts/Reddit-Sans/RedditSans-Bold.ttf") format("truetype");
    font-weight: 700;	
}

@font-face {
    font-family: "Reddit Sans";
    src: url("../fonts/Reddit-Sans/RedditSans-ExtraBold.woff2") format("woff2"),
         url("../fonts/Reddit-Sans/RedditSans-ExtraBold.ttf") format("truetype");
    font-weight: 800;	
}

html {
    font-family: "Reddit Sans", Tahoma, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-style: normal;
    background: #15264A;
    background: radial-gradient(circle 1090px at center, hsla(221, 56%, 19%, 1), hsla(358, 76%, 7%, 1));
    background-size: cover;
    font-size: 24px;
    color: hsla(0, 0%, 100%, 1);
    /* Pin this to bottom */
    background-attachment: fixed;
}

/* ----Noise Grain Effect Section---- */
#noise {
    position: fixed;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    
    pointer-events: none;
    opacity: 0.3;

    /* filter: brightness(100); */
}

#softnoise {
    position: fixed;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;
    
    pointer-events: none;
    opacity: 0.07;

    z-index: 100;
    /* filter: brightness(100); */
}

/* ----Gradient Blur Section---- */
.gradient-blur {
    position: fixed;
    inset: auto 0 0 0;
    top: 0px;
    height: 92px;
    z-index: 5;
    pointer-events: none;
}

.gradient-blur > div,
.gradient-blur::before,
.gradient-blur::after {
  position: absolute;
  inset: 0;
}

.gradient-blur::before {
  content: "";
  z-index: 1;
  backdrop-filter: blur(0.5px);
  mask: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 12.5%,
    rgba(0, 0, 0, 1) 25%,
    rgba(0, 0, 0, 0) 37.5%
  );
}

.gradient-blur > div:nth-of-type(1) {
    z-index: 2;
    backdrop-filter: blur(1px);
    mask: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 12.5%,
      rgba(0, 0, 0, 1) 25%,
      rgba(0, 0, 0, 1) 37.5%,
      rgba(0, 0, 0, 0) 50%
    );
  }

  .gradient-blur > div:nth-of-type(2) {
    z-index: 3;
    backdrop-filter: blur(2px);
    mask: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 25%,
      rgba(0, 0, 0, 1) 37.5%,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 0) 62.5%
    );
  }

  .gradient-blur > div:nth-of-type(3) {
    z-index: 4;
    backdrop-filter: blur(4px);
    mask: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 37.5%,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 1) 62.5%,
      rgba(0, 0, 0, 0) 75%
    );
  }

  .gradient-blur > div:nth-of-type(4) {
    z-index: 5;
    backdrop-filter: blur(8px);
    mask: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 1) 62.5%,
      rgba(0, 0, 0, 1) 75%,
      rgba(0, 0, 0, 0) 87.5%
    );
  }

  .gradient-blur > div:nth-of-type(5) {
    z-index: 6;
    backdrop-filter: blur(16px);
    mask: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 62.5%,
      rgba(0, 0, 0, 1) 75%,
      rgba(0, 0, 0, 1) 87.5%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .gradient-blur > div:nth-of-type(6) {
    z-index: 7;
    backdrop-filter: blur(32px);
    mask: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 75%,
      rgba(0, 0, 0, 1) 87.5%,
      rgba(0, 0, 0, 1) 100%
    );
  }

.gradient-blur::after {
    content: "";
    z-index: 8;
    backdrop-filter: blur(64px);
    mask: linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 87.5%,
      rgba(0, 0, 0, 1) 100%
    );
}

/* ----Header Section (Navbar & Website Title)---- */
header {
    /* REMEMBER: There is an 8 pixel margin around the body */
    height: auto;
    margin: 25px auto 0 auto;
    position: sticky;
    top: 25px;
    display: flex;
    flex-direction: column;
    width: 1080px;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10;
}

#navbar {
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 37px;
    height: 1.51666667rem; /* .nav font-size + vertical padding + vertical border */
    background-color: hsla(201, 100%, 8%, 0.25);
    /* border: 1px solid hsla(248, 9%, 45%, 1); */
    border-radius: 40px;
    backdrop-filter: blur(15px) brightness(0.7);
}

#navbar a {
    text-decoration: none;
    color: hsla(0, 0%, 100%, 1);
}

#webTitle svg{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    transition: all 130ms ease-out 5ms;
    height: 44px;
    width: auto;
    position: relative;
    top: 3px;
}

#webTitle svg:hover {
    scale: 1.10;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    gap: 30px;
}

#navbar .nav {
    border: 2px solid hsla(0, 0%, 100%, 0);
    color: hsla(0, 0%, 80%, 1);
    justify-content: center;
    align-items: center;
    padding: 0.3rem 0.95rem;
    transition: all 100ms ease-out 5ms;
    border-radius: 25px;
}

#navbar .nav:hover {
    backdrop-filter: blur(50px) brightness(6);
    color: hsla(0, 0%, 100%, 1);
}

#navbar .nav:active {
    color: hsla(242, 61%, 80%, 1);
    backdrop-filter: blur(50px) brightness(2);
    scale: 0.9;
}

#navbar .nav.visited {
    color: hsla(242, 61%, 80%, 1);
    backdrop-filter: blur(50px) brightness(2);
    border: 2px solid hsla(0, 0%, 100%, 1);
}

.separator {
    /* position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; */
    height: 1px;
    width: 100%;
    background-color: hsla(248, 9%, 45%, 1);
    border-radius: 15px;
}

/* ----Main Content Section---- */
#content {
    margin: 42px;
}

.contentContainer {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto 42px auto;
    transition: all 300ms ease 0ms;
    container-type: inline-size;
    container-name: contentBox;
}

.frame {
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    aspect-ratio: 16/9;
    width: 100%;
    margin: 0 auto;
    border: 3px solid hsla(0, 0%, 50%, 1);
    border-radius: 25px;
    overflow: hidden;
    transition: all 300ms ease 0ms;
}

.thumbnail {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(1px) brightness(0.75);
    transition: all 200ms ease-in-out 0ms,
        filter 165ms ease-in-out 5ms;
}

.thumbnail.active{
    opacity: 1;
    visibility: visible;
}

.thumbnail.passive {
    opacity: 0;
    visibility: hidden;
    /* For Testing: */
    /* visibility: visible;
    opacity: 1; */
}

.info {
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: left;
    flex-direction: column;
    border-radius: 0px;
    overflow: visible;
    width: 25%;
    height: auto;
    max-height: 100%;
    position: absolute;
    top: 19%;
    left: 11%;
    /* font-size: 2rem; */
}

.info .expand {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.info .contentTitle {
    /* margin: 0; */
    font-size: 1em;
    font-weight: 800;
}

.info .date {
    color: hsla(0, 0%, 80%, 1);
    /* margin: 0 0 30px 0; */
    font-size: 0.45em;
    font-weight: normal;
}

.info .role {
    color: hsla(0, 0%, 80%, 1);
    /* margin: 0 0 30px 0; */
    font-size: 0.45em;
    font-style: italic;
    font-weight: normal;
}

.info a {
    text-decoration: none;
    color: hsla(0, 0%, 80%, 1);
}

.info .credits {
    /* margin: 0;
    padding: 10px 35px; */
    font-size: 0.45em;
    box-sizing: border-box;
    border: 1px solid hsla(0, 0%, 80%, 1);
    color: hsla(0, 0%, 80%, 1);
    font-weight: normal;
    z-index: 2;
    transition: all 100ms ease-out 5ms;
}

.contentContainer:hover {
    scale: 1.02;
}

.contentContainer:hover .thumbnail{
    /* 'hoverDelay' in script.js */
    transition: all 450ms ease-in-out 600ms,
        filter 165ms ease-in-out 5ms;
    filter: blur(0) brightness(1);
}

.contentContainer:hover .thumbnail.active{
    visibility: hidden;
    opacity: 0;
}

.contentContainer:hover .thumbnail.passive{
    visibility: visible;
    opacity: 1;
}

.contentContainer:hover .frame {
    border-color: hsla(0, 0%, 100%, 1);
}

.credits:hover {
    color: hsla(0, 0%, 100%, 1);
    border-color:  hsla(0, 0%, 100%, 1);
}

@container contentBox (max-width: 100vw) {
    .info {
      font-size: 4cqi;
    }

    .info .contentTitle {
        margin: 0;
    }
    
    .info .date {
        margin: 0 0 2.45cqi 0;
    }
    
    .info .role {
        margin: 0 0 2.45cqi 0;
    }
    
    .info .credits {
        margin: 0;
        padding: 0.865cqi 2.9cqi;
    }
}

.unloaded {
    display: none;
}

/* ----Load More Button Section---- */
#loadMore {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto 42px auto;
    max-width: 1284px;
    container-type: inline-size;
    container-name: loadBox;
}

.button {
    justify-content: center;
    text-align: center;
    font-size: 0.9rem;
    box-sizing: border-box;
    border: 1px solid hsla(0, 0%, 80%, 1);
    border-radius: 40px;
    color: hsla(0, 0%, 80%, 1);
    background-color: hsla(0, 0%, 0%, 0);
    font-weight: normal;
    padding: 10px 35px;
    transition: all 100ms ease-out 5ms;
}

.button.loadAll {
    color: hsla(242, 61%, 80%, 1);
    border-width: 0px;
}

.button:hover {
    /* border: 1px solid hsla(0, 0%, 100%, 1); */
    border-color:hsla(0, 0%, 100%, 1);
    color: hsla(242, 61%, 80%, 1);
    backdrop-filter: blur(50px) brightness(2);
    /* backdrop-filter: brightness(1.5); */
}

.button.loadAll:hover {
    backdrop-filter: blur(0px) brightness(1);
}

@container loadBox (max-width: 100vw) {
    .button {
        font-size: 1.8cqi;
        padding: 0.865cqi 2.9cqi;
    }
}

/* Footer Section */
footer {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 94px -8px -8px -8px;
    container-type: inline-size;
    container-name: footer;
    background-color: #192b52;
    /* background: radial-gradient(circle 1200px at center, hsla(221, 56%, 19%, 1), hsla(358, 76%, 7%, 1)); */
}

.footer {
    display: flex;
    flex-direction: column;
    max-width: 1284px;
    justify-content: center;
    text-align: center;
    padding: 100px;
}