html {
    font-family: Tahoma, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-style: normal;
    background: #15264A;
    background: radial-gradient(circle 1200px at center, hsla(221, 56%, 19%, 1), hsla(358, 76%, 7%, 1));
    /* background-image: url("../images/andy-ms-mxyqilwmiw.jpg"); */
    font-size: 24px;
    color: hsla(0, 0%, 100%, 1);
}

/* ----Header section (Navbar & Website Title)---- */
header {
    /* REMEMBER: There is an 8 pixel margin around the body */
    height: auto;
    margin: 0 auto;
    position: sticky;
    top: 8px;
    display: flex;
    flex-direction: column;
    width: 1080px;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 10;
}

#navbar {
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 42px;
}

#navbar a {
    text-decoration: none;
    color: hsla(0, 0%, 100%, 1);
}

#webTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    font-family: "tomboy-lp", sans-serif;
    font-size: 1.45rem;
    font-weight: 700;
    font-style: normal;
    transition: all 100ms ease-out 5ms;
}

#webTitle span {
    color: hsla(222, 69%, 75%, 1);
}

#webTitle:hover {
    scale: 1.035;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    gap: 35px;
}

#navbar .nav {
    color: hsla(0, 0%, 80%, 1);
    /* border: 1px solid white; */
    justify-content: center;
    align-items: center;
    padding: 0.3rem 0.95rem;
    transition: all 100ms ease-out 5ms;
    border-radius: 25px;
}

#navbar .nav:hover {
    backdrop-filter: blur(50px) brightness(1.3);
    color: hsla(0, 0%, 100%, 1);
}

#navbar .nav:active {
    background-color: red;
    color: hsla(0, 0%, 100%, 1);
    scale: 0.9;
}

.separator {
    height: 1px;
    width: 100%;
    background-color: hsla(248, 9%, 45%, 1);
    border-radius: 15px;
}

/* ----Main  section---- */
#content {
    margin: 42px;
}

.contentContainer {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto 42px auto;
    transition: all 200ms ease-out 0ms;
}

.frame {
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
    border: 1px solid hsla(0, 0%, 100%, 1);
    border-radius: 25px;
    overflow: hidden;
}

.thumbnail {
    display: flex;
    width: 100%;
    filter: blur(2px);
    transition: all 165ms ease-in-out 5ms;
}

.info {
    display: flex;
    justify-content: start;
    align-items: start;
    text-align: left;
    flex-direction: column;
    border-radius: 0px;
    /* border: 1px solid hsla(0, 0%, 100%, 0.4); */
    overflow: visible;
    width: 25%;
    height: auto;
    max-height: 100%;
    position: absolute;
    top: 19%;
    left: 11%;
    font-size: 2rem;
}

.info .expand {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.info .contentTitle {
    margin: 0;
    font-size: 1em;
    font-weight: bold;
}

.info .date {
    color: hsla(0, 0%, 80%, 1);
    margin: 0 0 30px 0;
    font-size: 0.45em;
    font-weight: normal;
}

.info .role {
    color: hsla(0, 0%, 80%, 1);
    margin: 0 0 30px 0;
    font-size: 0.45em;
    font-style: italic;
    font-weight: normal;
}

.info a {
    text-decoration: none;
    color: hsla(0, 0%, 80%, 1);
}

.info .credits {
    margin: 0;
    font-size: 0.45em;
    box-sizing: border-box;
    border: 1px solid hsla(0, 0%, 80%, 1);
    color: hsla(0, 0%, 80%, 1);
    font-weight: normal;
    padding: 10px 35px;
    z-index: 2;
    transition: all 100ms ease-out 5ms;
}

.contentContainer:hover {
    scale: 1.015;
}

.contentContainer:hover .thumbnail{
    filter: blur(0);
}

.credits:hover {
    color: hsla(0, 0%, 100%, 1);
    border-color:  hsla(0, 0%, 100%, 1);
}

@media only screen and (max-width: 1300px){
    .info {
        font-size: 1.8vw;
    }
}
