---
layout: base.njk
title: Explore | Jonathan Thompson
pagecss: /resources/css/explore.css
pagejs: /resources/js/explore.js
---

<div id="content">
    <div id="query">
        <div id="search-bar">
            <input type="text" placeholder="Search...">
            <button type="submit">Submit</button>
        </div>
    </div>
</div>