---
layout: base.njk
title: Jonathan Thompson
pagecss: <link rel="stylesheet" href="/resources/css/index.css">
pagejs: <script src="/resources/js/index.js" defer></script>
---

<div id="content">
    {% set firstThree = [] %}
    {% for i in data %}
        {% if i.Screenplay != "Sole" and firstThree.length < 3 %}
            {% set firstThree = firstThree.concat([i]) %}
        {% endif %}
    {% endfor %}

    {% for i in firstThree %}
        <div class="contentContainer pop-in"> 
            <a class="frame" href="/explore/{{ i.slug }}">
                <img class="thumbnail active" src="{{ i.imgSrc }}" alt="">
                <video class="thumbnail passive" src="{{ i.previewSrc }}" muted loop></video>
            </a>
            <div class="info">
                <a class="expand" href="/explore/{{ i.slug }}"></a>
                <h2 class="contentTitle">{{ i.title }}</h2>
                <h3 class="date">{{ i.date }}</h3>
                {% set roles = i.role.split('/') %}
                <div class="roles">
                    {% for r in roles %}<a class="role-tag" href="/explore/?roles={{ r | urlencode }}">{{ r }}</a>{% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<div id="loadMore">
    <button type="button" class="button">Load More</button>
</div>