---
pagination:
  data: data
  size: 1
  alias: i
  addAllPagesToCollections: true
permalink: "/explore/{{ i.slug }}/"
layout: base.njk
eleventyComputed:
    title: "{{ i.title }} | Jonathan Thompson"
pagecss: /resources/css/project.css
pagejs: <script type="module" src="/resources/js/project.js" defer></script>
addcss: <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/5.3.31/pdf_viewer.min.css" integrity="sha512-g7H1r+f5vorBEZ6yKW88x++bC+Fucn7nEkfpSitAfJIFPNZghRQqoiyaV5zRNVKr1JGfIvfJjEg9J9sYDja6Nw==" crossorigin="anonymous" referrerpolicy="no-referrer">
addjs: <script type="module" src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1/lite-youtube.min.js"></script>
---

<div id="breadcrumbs"></div>
<div id="project-page">
    <div id="content">
        <section id="project">
            <div id="frame">
                <lite-youtube videoid="{{ i.YTSrc }}"></lite-youtube>
                <canvas id="pdf-canvas" data-pdf="{{ i.PDFSrc }}"></canvas>
            </div>
            <div id="info">
                <h1 id="contentTitle">{{ i.title }}</h1>
                <div id="tags"><div id="role"></div><span> | </span><div id="type"></div></div>
                <small id="date">{{ i.date }}</small>
        </section>
        <aside id="credits">
            <h2>Credits</h2>
            <ul>
                {% for credit in i.credits %}
                    <li>{{ credit }}</li>
                {% endfor %}
            </ul>
        </aside>
    </div>
    <div id="more">
        <section id="description">
            <p>{{ i.description }}</p>
        </section>
        <a href="{{ i.PDFSrc }}" target="_blank" id="attachments">
            <img id="screenplay" src="/resources/images/screenplay-image.png" alt="Screenplay">
            <span id="view">view</span>
        </a>
    </div>
</div>