---
pagination:
  data: data
  size: 1
  alias: i
  addAllPagesToCollections: true
permalink: "/explore/{{ i.slug }}/"
layout: base.njk
eleventyComputed:
    title: "{{ i.title }} | Jonathan Thompson"
pagecss: /resources/css/project.css
pagejs: <script type="module" src="/resources/js/project.js" defer></script>
addcss: <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/5.3.31/pdf_viewer.min.css" integrity="sha512-g7H1r+f5vorBEZ6yKW88x++bC+Fucn7nEkfpSitAfJIFPNZghRQqoiyaV5zRNVKr1JGfIvfJjEg9J9sYDja6Nw==" crossorigin="anonymous" referrerpolicy="no-referrer">
addjs: <script type="module" src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1/lite-youtube.min.js"></script>
---

<div id="project-page">
    {# <div id="breadcrumbs"></div> #}
    <div id="content-box">
        <section id="project">
            <div id="frame">
                {% if i.Screenplay == "Sole" %}
                 <div id="pdf-viewer" data-pdf="{{ i.PDFSrc }}">
                    <div id="pdf-sidebar"></div>
                    <div id="pdf-canvas-container">
                        <canvas id="pdf-canvas"></canvas>
                    </div>
                    <div id="pdf-controls">
                        <button id="pdf-sidebar-toggle" title="Toggle sidebar">≡</button>
                        <button id="pdf-prev" title="Previous page">◀</button>
                        <input id="pdf-page-num" value="1" min="1">
                        <span>/ <span id="pdf-page-count">1</span></span>
                        <button id="pdf-next" title="Next page">▶</button>
                        <button id="pdf-zoom-out" title="Zoom out">➖</button>
                        <select id="pdf-zoom-select">
                            <option value="fit">Page Fit</option>
                            <option value="width">Page Width</option>
                            <option value="0.5">50%</option>
                            <option value="0.75">75%</option>
                            <option value="1" selected>100%</option>
                            <option value="1.25">125%</option>
                            <option value="1.5">150%</option>
                        </select>
                        <button id="pdf-zoom-in" title="Zoom in">➕</button>
                        <button id="pdf-download" title="Download">⤓</button>
                        <button id="pdf-print" title="Print">🖨</button>
                        <button id="pdf-expand" title="Expand">⤢</button>
                    </div>
                </div>
                {% else %}
                <lite-youtube videoid="{{ i.YTSrc }}"></lite-youtube>
                {% endif %}
            </div>
            <div id="info">
                <div id="specs">
                    <h1 id="contentTitle">{{ i.title }}</h1>
                    <small id="date">{{ i.date }}</small>
                </div>
                <div id="tags">
                    {% set roles = i.role.split('/') %}
                    <div class="roles">
                        {% for r in roles %}
                        <a class="role-tag" href="/explore/?roles={{ r | urlencode }}">{{ r }}</a>
                        {% endfor %}
                    </div>
                    <span id="divider"> | </span>
                    <a class="type-tag" href="/explore/?types={{ i.type | urlencode }}">{{ i.type }}</a>
                </div>
        </section>
        <aside id="credits">
            <h2>Credits</h2>
            <ul>
                {% for credit in i.credits %}
                    <li>{{ credit }}</li>
                {% endfor %}
            </ul>
        </aside>
    </div>
    <div id="more">
        {% if i.Screenplay == "Yes" or i.Screenplay == "Sole" %}
        <a href="{{ i.PDFSrc }}" target="_blank" id="attachments">
            <img id="screenplay" src="/resources/images/screenplay-image.png" alt="Screenplay">
            <div id="view-container"><span id="view">View</span></div>
        </a>
        {% endif %}
        <section id="description">
            <p>{{ i.description }}</p>
        </section>
    </div>
</div>