#frame lite-youtube {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    display: block;
    position: relative;
    z-index: 1;
}

/* lite-youtube::part(playButton) {
    width: 80px;
    height: 80px;
    background: hsla(214,100%,45%,1);
    border: 3px solid hsla(248,9%,45%,0.5);
    border-radius: 50%;
    opacity: 1;
    pointer-events: auto;
    display: block;
    
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' d='M5.536 21.886a1 1 0 0 0 1.033-.064l13-9a1 1 0 0 0 0-1.644l-13-9A1 1 0 0 0 5 3v18a1 1 0 0 0 .536.886'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 28px 28px;
    
    transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), 
                opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1),
                background-color 0.3s ease;
}

lite-youtube:hover::part(playButton) {
    transform: translate(-50%, -50%) scale(1.1);
    background-color: hsla(214,100%,55%,1);
} */